<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <!-- *********** FONTS *********** -->
	<!--load all Font Awesome styles -->
	<script src="https://kit.fontawesome.com/13471d8c05.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-wrapper">
        <div class="nav">
            <h1><%=user.userName%>'s To Do List</h1>
            <a href="/logout"><div class="logout-button">Logout</div></a>
        </div>
        <div class="form-todos-wrapper">
            <div class="form-wrapper">
                <h2><%= user.userName %> has <%= left %> things left to do.</h2>
    
                <form action="/todos/createTodo" method='POST' class="post-form">
                    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                    <input type="text" placeholder="Enter Item's Category" name="todoCategory">
                    <input type="date" placeholder="Enter Item's Due Date" name="todoDeadline">
                    <select name="priority" id="prior">
                        <option value="low">priority: Low</option>
                        <option value="medium">priority: Medium</option>
                        <option value="high">priority: High</option>
                    </select>
                    <input type="submit" value="Create to-do" class="todos-input">
                </form>
    
                
            </div>
        <div class="todos-wrapper">
            <% categories.forEach( cat => { %>
                <div class="category-container">
                    <h1 class="category-name"><%= cat %></h1>
                    <% priorities.forEach( prior => { %>
                        <ul class="priority-container" id='<%=prior%>'>
                            <h4><%= prior %></h4>
                            <% todos.forEach(todo => { %>
                                <div class="align-todos">
                                    <% if (todo.priority === prior) { %>
                                        <li class='todoItem 
                                        <% if(Math.ceil((new Date(new Date().toJSON().slice(0, 10))) > (new Date(todo.deadline)))) { %>
                                            overdue
                                        <% } else if (((new Date(new Date().toJSON().slice(0, 10)))-(new Date(todo.deadline))) / (1000 * 3600 * 24) == 0) { %>
                                            tomorrow
                                        <% } else { %>
                                            time
                                        <% } %>' data-id='<%=todo._id%>'>
                                            <span class='<%= todo.completed === true ? 'completed' : 'not'%>'><%= todo.todo %></span>
                                            <span class="todoDeadline"><%= todo.deadline %> | </span>
                                            <span class='del'> <i class="fa-solid fa-trash-can"></i> </span>
                                        </li>
                                    <% } %>
                                </div>
                            <% }) %>
                        </ul>
                    <% }) %>
                </div>
            <% }) %>
        </div>
      </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>